<h1>Lista de posts</h1>

{{#each posts}}
<hr>

<h1>{{dataValues.titulo}}</h1>
<p>{{dataValues.conteudo}}<p>
<a href="/delet/{{dataValues.id}}"><button style="background-color:red" >Detetar</button></a> 
    
    

<hr>

{{/each}}
<a href="/cad"><button style="background-color:green">
Adicionar Post
</button>
</a>